:root {
  --pr-color: #ffffff;
}

.navbar-brand .careerpath-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  color: #095571;
  width: 288px;
  height: 63px;
}

.nav-link {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}
